<div class="login-form-container">
  <h1 class="login-form-logo text-center">Odont</h1>
  <div class="form-group">
    <input
      id="email"
      type="text"
      class="form-control text-center ubuntu"
      placeholder="E-mail"
      [(ngModel)]="loginData.email"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      id="password"
      class="form-control text-center"
      placeholder="Senha"
      [(ngModel)]="loginData.password"
    />
  </div>
  <div class="login-form-error-container">
    <p *ngIf="hasError" class="text-center login-form-error">
      Usuário ou senha inválidos
    </p>
  </div>
  <button class="btn btn-primary color" (click)="login()">Entrar</button>
  <div class="sign-container">
    <button
      class="btn-link btn login-form-forgot-password text-center margin-0 cornflower-blue"
    >
      Esqueceu sua senha?
    </button>
    <button
      class="btn-link btn login-form-forgot-password text-center margin-0 william"
      [routerLink]="['/login/register']"
    >
      Cadastrar
    </button>
  </div>
</div>
