.home-screen-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.home-screen-sidebar-container {
  display: flex;
  flex: 1.5;
  background-color: #3c6373;
  flex-direction: column;
  padding: 0px 5px;
  align-items: center;
  height: 100%;
  width: 200px;
}

.home-screen-sidebar-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.home-screen-sidebar-logo {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 30px;
  color: #17a68c;
  margin: 0;
}

.home-screen-sidebar-employee-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-screen-sidebar-employee-container-image {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  margin-right: 8px;
}

.home-screen-sidebar-employee-container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.employee-name {
  font-size: 16px;
}

.employee-function {
  font-size: 12px;
}

.home-screen-sidebar {
  display: flex;
  background-color: #3c6373;
}

.divider .span-main-menu {
  color: #cccccc;
  font-size: 12px;
  font-family: Ubuntu;
  margin: 10px 0px;
  border-top: 1px solid #cccccc;
  padding: 20px;
}

.home-screen-sidebar-main-menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px 0px;
}

.home-screen-main {
  display: flex;
  flex: 8;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.home-screen-main-navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #3c637328;
  height: 60px;
  width: 100%;
  background-color: #f2f2f2;
  align-items: center;
  padding: 0px 20px;
}

.home-screen-main-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.home-screen-main-navbar-search {
  flex: 8.5;
}

.home-screen-main-navbar-controls-container {
  display: flex;
  justify-content: center;
  padding: 0px 5px;
  flex: 1;
}

.home-icon {
  font-size: 20px;
  color: #3c6373;
  margin: 0px 5px;
}

.home-icon:hover {
  color: #17a68c;
  cursor: pointer;
}
