html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #cccccc;
}

.text-white {
  color: #ffffff;
}

.ubuntu {
  font-family: Ubuntu;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.flex-direction-row {
  flex-direction: row !important;
}
